/*navigation bar*/
.navigation-bar {
    display: grid;
    grid-template-areas:
    "index empty projects contact about";
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 30px;
    position: sticky;
    top: 20px;
}

.navigation-bar a {
    text-decoration: none !important; /* Removes underline */
    color: black; /* Ensures default color */
    transition: color 0.3s ease;
}

  .navigation-bar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'IBM Plex Mono';
    font-weight: medium;
}
  .navigation-bar > div.index {
    grid-area: 
    text-align: center;
  }
  .navigation-bar > div.projects {
    grid-area: projects;
    text-align: center;
    
  }
  .navigation-bar > div.contact {
    grid-area: contact;
    text-align: center;
  }
  .navigation-bar > div.about {
    grid-area: about;
    text-align: center;
  }

/* Hover and visited styles */
.navigation-bar a:hover {
    color: #007bff;
}

.navigation-bar a:visited {
    color: black;
}
body{
    font-family: 'Figtree', 'Arial', 'Helvetica', sans-serif;
    background-color: #fefefe;
    color: #000;
}

h1{
    color:rgb(255, 58, 41); 
    font-size: 4em;
    float:left
}

img[src="assets/me.webp"] {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    width: 25%;
    height: auto;
}

