/*navigation bar*/ 
.navigation-bar {
    display: grid;
    grid-template-areas:
    "index empty projects contact about";
    grid-template-columns: 1fr 8fr 1fr 1fr 1fr;
    margin-top: 10px;
    margin-left: 0px;
    margin-right: 0px;
    gap: 30px;
    position: sticky;
    top: 20px;
}

.navigation-bar a {
    text-decoration: none !important;
    color: black;
    transition: color 0.3s ease;
}

    .navigation-bar > div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'IBM Plex Mono';
    font-weight: medium;
}
  .navigation-bar > div.index {
    grid-area: index;
    text-align: center; 
  }

  .navigation-bar > div.empty {
    grid-area: empty;
    text-align: center; 
  }
  .navigation-bar > div.projects {
    grid-area: projects;
    text-align: center;
    
  }
  .navigation-bar > div.contact {
    grid-area: contact;
    text-align: center;
  }
  .navigation-bar > div.about {
    grid-area: about;
    text-align: center;
  }

.navigation-bar a:hover {
    color: #007bff;
}

@media (max-width: 500px) {
    .navigation-bar, div.about, div.contact, div.index, div.projects  {
        grid-template-areas: 
        "index projects contact about";
        grid-template-columns: 1fr 1fr 1fr 1fr; /* Reduce middle space */
        gap: 10px; /* Decrease space between items */
        font-size: 17px;
        margin-top: 10px;
    }
    .about-1 {
        size-adjust: 375px;
    }
}

body{
    font-family: 'Figtree', 'Arial', 'Helvetica', sans-serif;
    background-color: #fefefe;
    color: #000;
}


.overlapping-text-and-image-container {
    position: relative;
 
    p {
        position: absolute;
        top: 50%;
        left: 50%;
    
        transform: translate(-50%, -50%);
        margin: 0;
    }
}